AI Internal Policy Assistant-Rh.json
{
  "updatedAt": "2026-05-28T18:05:54.248Z",
  "createdAt": "2026-05-21T17:17:04.143Z",
  "id": "4SXZvLOGnMnpWg05",
  "name": "AI Internal Policy Assistant-Rh",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1awDPXnLUzRljQ-7WO1CE8Az0Zi5jqIva",
          "mode": "list",
          "cachedResultName": "AI Internal Policy Assistant",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1awDPXnLUzRljQ-7WO1CE8Az0Zi5jqIva"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        656
      ],
      "id": "7b2931bb-aa59-4bf0-a7ab-b0d4e3f33b5a",
      "name": "Update File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5wDbmQn7BooFsSJN",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        656
      ],
      "id": "efb94d22-9e5c-48e4-826f-15cc412332b9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5wDbmQn7BooFsSJN",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chat-latest",
          "mode": "list",
          "cachedResultName": "chat-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        752
      ],
      "id": "afa1bb71-bccf-446a-b04c-d1e016e74cf5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Qr5aGUrMRBVapsLS",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documentsrag",
          "mode": "list",
          "cachedResultName": "documentsrag"
        },
        "options": {
          "queryName": "match_documentsrag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -432,
        656
      ],
      "id": "1de92cd9-db35-4cc1-87a0-5ab490af2905",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "6LARCaaST5eGMyk9",
          "name": "Supabase account 3-Rh"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -384,
        816
      ],
      "id": "deaf01f3-fce1-4271-9aa1-9a2d9f9aa28c",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        928
      ],
      "id": "7bd98592-2306-4b87-9c24-472f9f75ca7e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Qr5aGUrMRBVapsLS",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve information",
        "tableName": {
          "__rl": true,
          "value": "documentsrag",
          "mode": "list",
          "cachedResultName": "documentsrag"
        },
        "options": {
          "queryName": "match_documentsrag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        272,
        912
      ],
      "id": "3d455c13-404f-494e-9129-973ab1cc730b",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "6LARCaaST5eGMyk9",
          "name": "Supabase account 3-Rh"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.blocks?.[0]?.elements?.[0]?.elements?.[1]?.text || $('Webhook').first().json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant,\nAlways use Supabase vector store tool to find answer for the query of the user"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        592
      ],
      "id": "b89c352a-f465-408b-b54a-ef9b907d5626",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B6LQXA4BS",
          "mode": "list",
          "cachedResultName": "all-policy-assistant"
        },
        "text": "={{ $('AI Agent').item.json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        704,
        640
      ],
      "id": "5f1ca440-1090-4a03-a02c-9e63d17c54a2",
      "name": "Send a message",
      "webhookId": "5ff3e96f-1b1f-458f-9cfc-65727e35633f",
      "credentials": {
        "slackApi": {
          "id": "Wev8Uz9I8JoJ8D2x",
          "name": "Slack account 36-Rh"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0B6LQXA4BS",
          "mode": "list",
          "cachedResultName": "all-policy-assistant"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        640
      ],
      "id": "d5d6fe20-ca2d-4235-bb10-0f7a1c1528a8",
      "name": "Slack Trigger",
      "webhookId": "1dba2363-09a5-4c55-87fd-1df26e823379",
      "credentials": {
        "slackApi": {
          "id": "Wev8Uz9I8JoJ8D2x",
          "name": "Slack account 36-Rh"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.client_msg_id ?? $json.headers['cf-connecting-ip']}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        272,
        784
      ],
      "id": "0f714c78-f559-4154-b3b1-8bd411e1b703",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# Policy / Document\n### Answer from AI Assistant are based here",
        "height": 480,
        "width": 592,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        496
      ],
      "typeVersion": 1,
      "id": "bdbd83ac-3649-47be-baf0-32c75d0b0362",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Policy Assistant / Chat Agent",
        "height": 688,
        "width": 1008,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        352
      ],
      "typeVersion": 1,
      "id": "c5ce0f3f-1d9e-4ffa-a349-93654001971e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4c44742e-f6fa-4fbd-b335-6cc34b52944f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        496
      ],
      "id": "61a85228-4a27-455c-9701-22d9fa190371",
      "name": "Webhook",
      "webhookId": "4c44742e-f6fa-4fbd-b335-6cc34b52944f"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        496
      ],
      "id": "d35b5316-3249-481a-b205-af05340ef347",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab2ce1e6-3a0b-46e2-86e1-933bbe508e20",
              "leftValue": "={{ $('Slack Trigger').isExecuted}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        656
      ],
      "id": "47cb3db0-d490-443b-800c-c03d9febbb9c",
      "name": "If"
    }
  ],
  "connections": {
    "Update File": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Update File": {
      "lastTimeChecked": "2026-05-23T15:20:28Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "83cef233-a9c7-4c6a-a005-da7cff15cd02",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-05-21T17:17:04.146Z",
      "createdAt": "2026-05-21T17:17:04.146Z",
      "role": "workflow:owner",
      "workflowId": "4SXZvLOGnMnpWg05",
      "projectId": "UlAHJDpO0xKUnUVA"
    }
  ],
  "activeVersion": null,
  "tags": []
}