autonomous-documentation-agent-n8n.json
{
  "name": "Autonomous Documentation Agent - GitHub Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"repoOwner\": \"YOUR_GITHUB_USERNAME\",\n  \"repoName\": \"YOUR_REPO\",\n  \"branch\": \"main\",\n  \"docsBasePath\": \"docs/autogen\",\n  \"openaiModel\": \"gpt-4.1-mini\",\n  \"scanTargets\": [\n    {\n      \"id\": \"n8n-main\",\n      \"name\": \"n8n Main Instance\",\n      \"type\": \"workflow_platform\",\n      \"sourceUrl\": \"https://your-n8n.example.com/api/v1/workflows\",\n      \"docPath\": \"n8n-main/README.md\"\n    },\n    {\n      \"id\": \"sample-api\",\n      \"name\": \"Sample Internal API\",\n      \"type\": \"api\",\n      \"sourceUrl\": \"https://api.example.com/openapi.json\",\n      \"docPath\": \"sample-api/README.md\"\n    }\n  ]\n}"
      },
      "id": "2",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json;\nreturn cfg.scanTargets.map(target => ({ json: { ...cfg, target } }));"
      },
      "id": "3",
      "name": "Explode Targets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.target.sourceUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4",
      "name": "Fetch Source Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst target = source.target || {};\nconst payload = {\n  system_id: target.id,\n  system_name: target.name,\n  system_type: target.type,\n  source_url: target.sourceUrl,\n  scanned_at: new Date().toISOString(),\n  summary: {\n    top_level_keys: Object.keys(source).slice(0, 50),\n    item_count: Array.isArray(source.data) ? source.data.length : Array.isArray(source) ? source.length : null\n  },\n  raw_excerpt: JSON.stringify(source).slice(0, 12000)\n};\nreturn [{ json: { ...source, normalized: payload, docPath: `${$json.docsBasePath}/${target.docPath}` } }];"
      },
      "id": "5",
      "name": "Normalize Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": $json.openaiModel,\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You generate concise technical Markdown documentation. Return Markdown only. Include sections: Overview, Inputs, Outputs, Dependencies, Risks, Last Scan.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate Markdown documentation for this system metadata: \" + JSON.stringify($json.normalized)\n    }\n  ]\n}",
        "options": {}
      },
      "id": "6",
      "name": "OpenAI Generate Markdown",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ai = $json;\nconst markdown = ai.choices?.[0]?.message?.content || '# Documentation generation failed';\nconst input = $input.item.json;\nreturn [{ json: { ...input, markdown, docPath: input.docPath } }];"
      },
      "id": "7",
      "name": "Prepare Doc File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.repoOwner}}/{{$json.repoName}}/contents/{{$json.docPath}}?ref={{$json.branch}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GITHUB_TOKEN}}"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "8",
      "name": "Get Existing File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const current = $json;\nconst prior = $input.item.json;\nlet existing = '';\nlet sha = '';\nif (current.content) {\n  existing = Buffer.from(current.content, 'base64').toString('utf8');\n  sha = current.sha || '';\n}\nconst changed = existing.trim() !== (prior.markdown || '').trim();\nreturn [{ json: { ...prior, existingSha: sha, changed } }];"
      },
      "id": "9",
      "name": "Detect Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.changed }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "10",
      "name": "If Changed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$json.repoOwner}}/{{$json.repoName}}/contents/{{$json.docPath}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GITHUB_TOKEN}}"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"docs: update {{$json.target.name}} documentation\",\n  \"content\": Buffer.from($json.markdown).toString('base64'),\n  \"branch\": $json.branch,\n  \"sha\": $json.existingSha || undefined\n}",
        "options": {}
      },
      "id": "11",
      "name": "Upsert GitHub File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        220
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "12",
      "name": "Collect Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn [{ json: {\n  updatedCount: items.length,\n  updatedFiles: items.map(i => i.json.docPath),\n  finishedAt: new Date().toISOString()\n} }];"
      },
      "id": "13",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3140,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Explode Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Targets": {
      "main": [
        [
          {
            "node": "Fetch Source Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Metadata": {
      "main": [
        [
          {
            "node": "Normalize Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Metadata": {
      "main": [
        [
          {
            "node": "OpenAI Generate Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Generate Markdown": {
      "main": [
        [
          {
            "node": "Prepare Doc File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Doc File": {
      "main": [
        [
          {
            "node": "Get Existing File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing File": {
      "main": [
        [
          {
            "node": "Detect Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Change": {
      "main": [
        [
          {
            "node": "If Changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Changed": {
      "main": [
        [
          {
            "node": "Upsert GitHub File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upsert GitHub File": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ad179484-330e-43d7-bfc6-333639d82167",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "autonomous-documentation-agent-template"
  },
  "tags": []
}